.announcement {
  height: 400px;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1504151864552-57020b6b876b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}