.products-show-bar {
  height: 300px;
  width: 100%;
  background-color: aqua;


  .product-card {


    .product-image{
      img {
        height: 100px;
        width: 100px;
      }
    }

    .product-description{}
  }
}