body {


  .header {
    background-color: whitesmoke;
    position: sticky; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    height: 80px;
  }

  .navbar {
    background-color: rgb(116, 94, 94);
    position: sticky; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    height: 80px;
  }
}